USE [master]
GO
/****** Object:  Database [Urna_Electronica_Capa]    Script Date: 2/22/2026 2:31:43 AM ******/
CREATE DATABASE [Urna_Electronica_Capa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Urna_Electronica_Capa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019DEV\MSSQL\DATA\Urna_Electronica_Capa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Urna_Electronica_Capa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019DEV\MSSQL\DATA\Urna_Electronica_Capa_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Urna_Electronica_Capa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Urna_Electronica_Capa]
GO
/****** Object:  User [Desarrollo]    Script Date: 2/22/2026 2:31:43 AM ******/
CREATE USER [Desarrollo] FOR LOGIN [Desarrollo] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Desarrollo]
GO
/****** Object:  Schema [APP_URNA_ELECTRONICA]    Script Date: 2/22/2026 2:31:43 AM ******/
CREATE SCHEMA [APP_URNA_ELECTRONICA]
GO
/****** Object:  Schema [CONFIGURACION_URNA_ELECTRONICA]    Script Date: 2/22/2026 2:31:43 AM ******/
CREATE SCHEMA [CONFIGURACION_URNA_ELECTRONICA]
GO
/****** Object:  Schema [UrnaElectronica]    Script Date: 2/22/2026 2:31:43 AM ******/
CREATE SCHEMA [UrnaElectronica]
GO
/****** Object:  UserDefinedTableType [APP_URNA_ELECTRONICA].[Votacion_Urna_TypeTabla]    Script Date: 2/22/2026 2:31:43 AM ******/
CREATE TYPE [APP_URNA_ELECTRONICA].[Votacion_Urna_TypeTabla] AS TABLE(
	[id_eleccion] [int] NOT NULL,
	[id_candidato] [int] NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[nombre_candidato] [nvarchar](100) NOT NULL,
	[color_texto] [nvarchar](20) NOT NULL,
	[color_fondo] [nvarchar](20) NOT NULL,
	[registrado] [int] NOT NULL
)
GO
/****** Object:  Table [UrnaElectronica].[Accesos]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UrnaElectronica].[Accesos](
	[Id_Acceso] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Id_Urna] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Acceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UrnaElectronica].[Candidatos]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UrnaElectronica].[Candidatos](
	[Id_Candidato] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Color_Texto] [varchar](20) NOT NULL,
	[Color_Fondo] [varchar](20) NOT NULL,
	[Logo] [varchar](255) NOT NULL,
	[Registrado] [bit] NOT NULL,
	[Id_Partido] [int] NULL,
	[Id_Eleccion] [int] NOT NULL,
 CONSTRAINT [PK__Candidat__9B57D6FEBAB6FA4A] PRIMARY KEY CLUSTERED 
(
	[Id_Candidato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UrnaElectronica].[Cat_Estatus_Proceso]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UrnaElectronica].[Cat_Estatus_Proceso](
	[Id_Estatus_Proceso] [int] IDENTITY(1,1) NOT NULL,
	[Estatus] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Cat_Esta__02B9E36480DA0037] PRIMARY KEY CLUSTERED 
(
	[Id_Estatus_Proceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UrnaElectronica].[Cat_Estatus_Urna]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UrnaElectronica].[Cat_Estatus_Urna](
	[Id_Estatus_Urna] [int] IDENTITY(1,1) NOT NULL,
	[Estatus] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Cat_Esta__89A2C24B775181E4] PRIMARY KEY CLUSTERED 
(
	[Id_Estatus_Urna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UrnaElectronica].[Elecciones]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UrnaElectronica].[Elecciones](
	[Id_Eleccion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Id_Proceso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Eleccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UrnaElectronica].[Impresoras]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UrnaElectronica].[Impresoras](
	[Id_Impresora] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Mac] [varchar](17) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Impresora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UrnaElectronica].[Partidos]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UrnaElectronica].[Partidos](
	[Id_Partido] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Eliminado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Partido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UrnaElectronica].[Portada_Proceso]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UrnaElectronica].[Portada_Proceso](
	[Id_Portada] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Subtitulo] [varchar](100) NOT NULL,
	[Imagen] [varchar](255) NOT NULL,
	[Id_Proceso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Portada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UrnaElectronica].[Procesos]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UrnaElectronica].[Procesos](
	[Id_Proceso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Id_Estatus_Proceso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Proceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UrnaElectronica].[Urnas]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UrnaElectronica].[Urnas](
	[Id_Urna] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Urna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UrnaElectronica].[Urnas_Elecciones]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UrnaElectronica].[Urnas_Elecciones](
	[Id_Urna_Eleccion] [int] IDENTITY(1,1) NOT NULL,
	[Lista_Nominal] [int] NOT NULL,
	[Id_Eleccion] [int] NOT NULL,
	[Id_Urna] [int] NOT NULL,
	[Id_Estatus_Urna] [int] NOT NULL,
	[Fecha_Hora_Inicio] [datetime] NULL,
	[Fecha_Hora_Fin] [datetime] NULL,
 CONSTRAINT [PK__Urnas_El__32174F8ABC9F80E8] PRIMARY KEY CLUSTERED 
(
	[Id_Urna_Eleccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UrnaElectronica].[Votaciones_Candidatos_Urnas]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UrnaElectronica].[Votaciones_Candidatos_Urnas](
	[Id_Votacion_Candidato_Urna] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Hora] [datetime] NOT NULL,
	[Id_Candidato] [int] NOT NULL,
	[Id_Urna_Eleccion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Votacion_Candidato_Urna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [UrnaElectronica].[Candidatos] ADD  CONSTRAINT [DF__Candidato__Regis__6C190EBB]  DEFAULT ((0)) FOR [Registrado]
GO
ALTER TABLE [UrnaElectronica].[Impresoras] ADD  CONSTRAINT [DEFAULT_Impresoras_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [UrnaElectronica].[Procesos] ADD  CONSTRAINT [DEFAULT_Procesos_Id_Estatus_Proceso]  DEFAULT ((1)) FOR [Id_Estatus_Proceso]
GO
ALTER TABLE [UrnaElectronica].[Accesos]  WITH NOCHECK ADD FOREIGN KEY([Id_Urna])
REFERENCES [UrnaElectronica].[Urnas] ([Id_Urna])
GO
ALTER TABLE [UrnaElectronica].[Candidatos]  WITH CHECK ADD  CONSTRAINT [FK__Candidato__Id_El__6E01572D] FOREIGN KEY([Id_Eleccion])
REFERENCES [UrnaElectronica].[Elecciones] ([Id_Eleccion])
GO
ALTER TABLE [UrnaElectronica].[Candidatos] CHECK CONSTRAINT [FK__Candidato__Id_El__6E01572D]
GO
ALTER TABLE [UrnaElectronica].[Candidatos]  WITH CHECK ADD  CONSTRAINT [FK__Candidato__Id_Pa__6D0D32F4] FOREIGN KEY([Id_Partido])
REFERENCES [UrnaElectronica].[Partidos] ([Id_Partido])
GO
ALTER TABLE [UrnaElectronica].[Candidatos] CHECK CONSTRAINT [FK__Candidato__Id_Pa__6D0D32F4]
GO
ALTER TABLE [UrnaElectronica].[Elecciones]  WITH CHECK ADD FOREIGN KEY([Id_Proceso])
REFERENCES [UrnaElectronica].[Procesos] ([Id_Proceso])
GO
ALTER TABLE [UrnaElectronica].[Portada_Proceso]  WITH CHECK ADD FOREIGN KEY([Id_Proceso])
REFERENCES [UrnaElectronica].[Procesos] ([Id_Proceso])
GO
ALTER TABLE [UrnaElectronica].[Procesos]  WITH CHECK ADD FOREIGN KEY([Id_Estatus_Proceso])
REFERENCES [UrnaElectronica].[Cat_Estatus_Proceso] ([Id_Estatus_Proceso])
GO
ALTER TABLE [UrnaElectronica].[Urnas_Elecciones]  WITH CHECK ADD  CONSTRAINT [FK__Urnas_Ele__Id_El__7D439ABD] FOREIGN KEY([Id_Eleccion])
REFERENCES [UrnaElectronica].[Elecciones] ([Id_Eleccion])
GO
ALTER TABLE [UrnaElectronica].[Urnas_Elecciones] CHECK CONSTRAINT [FK__Urnas_Ele__Id_El__7D439ABD]
GO
ALTER TABLE [UrnaElectronica].[Urnas_Elecciones]  WITH CHECK ADD  CONSTRAINT [FK__Urnas_Ele__Id_Ur__7C4F7684] FOREIGN KEY([Id_Urna])
REFERENCES [UrnaElectronica].[Urnas] ([Id_Urna])
GO
ALTER TABLE [UrnaElectronica].[Urnas_Elecciones] CHECK CONSTRAINT [FK__Urnas_Ele__Id_Ur__7C4F7684]
GO
ALTER TABLE [UrnaElectronica].[Urnas_Elecciones]  WITH CHECK ADD  CONSTRAINT [FK_Urnas_Elecciones_Cat_Estatus_Urna] FOREIGN KEY([Id_Estatus_Urna])
REFERENCES [UrnaElectronica].[Cat_Estatus_Urna] ([Id_Estatus_Urna])
GO
ALTER TABLE [UrnaElectronica].[Urnas_Elecciones] CHECK CONSTRAINT [FK_Urnas_Elecciones_Cat_Estatus_Urna]
GO
ALTER TABLE [UrnaElectronica].[Votaciones_Candidatos_Urnas]  WITH CHECK ADD  CONSTRAINT [FK__Votacione__Id_Ca__00200768] FOREIGN KEY([Id_Candidato])
REFERENCES [UrnaElectronica].[Candidatos] ([Id_Candidato])
GO
ALTER TABLE [UrnaElectronica].[Votaciones_Candidatos_Urnas] CHECK CONSTRAINT [FK__Votacione__Id_Ca__00200768]
GO
ALTER TABLE [UrnaElectronica].[Votaciones_Candidatos_Urnas]  WITH CHECK ADD  CONSTRAINT [FK__Votacione__Id_Ur__01142BA1] FOREIGN KEY([Id_Urna_Eleccion])
REFERENCES [UrnaElectronica].[Urnas_Elecciones] ([Id_Urna_Eleccion])
GO
ALTER TABLE [UrnaElectronica].[Votaciones_Candidatos_Urnas] CHECK CONSTRAINT [FK__Votacione__Id_Ur__01142BA1]
GO
/****** Object:  StoredProcedure [APP_URNA_ELECTRONICA].[get_Catalogos]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [APP_URNA_ELECTRONICA].[get_Catalogos]
AS
BEGIN
	 SET NOCOUNT ON;
	DECLARE @result XML;
	 SET @result = (
				SELECT ISNULL((

						SELECT 

								P.Id_Proceso AS id_proceso,
								P.Nombre AS nombre,
								ISNULL((

											SELECT
												UE.Id_Urna AS id_urna,
												U.Nombre AS nombre_urna
											FROM UrnaElectronica.Urnas_Elecciones UE
												JOIN UrnaElectronica.Urnas U ON UE.Id_Urna = U.Id_Urna
												JOIN UrnaElectronica.Elecciones E ON E.Id_Eleccion = UE.Id_Eleccion
											WHERE E.Id_Proceso = P.Id_Proceso --AND UE.Id_Estatus_Urna = 1
											Group By UE.Id_Urna, U.Nombre
											FOR JSON PATH

								), '[]' ) AS urnas_electronicas

						FROM UrnaElectronica.Procesos P
                        WHERE Id_Estatus_Proceso = 1
						FOR JSON PATH
			), '[]' ) AS procesos
			FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
		)

		SELECT @result

END



GO
/****** Object:  StoredProcedure [APP_URNA_ELECTRONICA].[sp_Get_Urna_Ajustes]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [APP_URNA_ELECTRONICA].[sp_Get_Urna_Ajustes]--1, 1
    @Id_Urna INT,
    @Id_Proceso INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @result XML;
    SET @result = (
		 SELECT TOP 1
                FORMAT(GETDATE(), 'dd-MM-yyyy HH:mm:ss') AS fecha_sincronizacion,
                P.Id_Proceso AS id_proceso,
                P.Nombre AS nombre_proceso,
                UE.Id_Urna AS id_urna,
                U.Nombre AS nombre_urna,
                UE.Lista_Nominal AS lista_nominal,
                PP.Titulo AS titulo_proceso,
                PP.Subtitulo AS subtitulo_proceso,
                PP.Imagen AS url_imagen,
                UE.Id_Estatus_Urna AS id_estatus_urna,
                ISNULL((
					SELECT Id_Estatus_Urna AS id_estatus, Estatus AS estatus
                    FROM UrnaElectronica.Cat_Estatus_Urna
                    --WHERE Id_Estatus_Urna = UE.Id_Estatus_Urna
                    FOR JSON PATH
				), '[]' ) AS estatus_urna,
                ISNULL((
					SELECT TOP (UE.Lista_Nominal)
                    Id_Acceso AS id_acceso,
                    Codigo AS acceso
                    FROM UrnaElectronica.Accesos
                    WHERE Id_Urna = UE.Id_Urna
                    FOR JSON PATH
				), '[]') AS accesos,
                (
                    SELECT
                        E.Id_Eleccion AS id_eleccion,
                        UE.Id_Urna AS id_urna,
                        UE.Id_Urna_Eleccion AS id_urna_eleccion,
                        E.Id_Proceso As id_proceso,
                        E.Nombre AS nombre_eleccion,
                        ISNULL((
                            SELECT
                                C.Id_Candidato AS id_candidato,
                                C.Nombre AS nombre_candidato,
                                P.Id_Partido AS id_partido,
                                P.Nombre AS nombre_partido,
                                C.Color_Texto AS color_texto,
                                C.Color_Fondo AS color_fondo,
                                C.Logo AS url_logo,
                                C.Id_Eleccion AS id_eleccion
                            FROM UrnaElectronica.Candidatos C
                            JOIN UrnaElectronica.Partidos P ON P.Id_Partido = C.Id_Partido
                            WHERE C.Id_Eleccion = E.Id_Eleccion
                            FOR JSON PATH
                        ), '[]' ) AS candidatos,
                        ISNULL((
                            SELECT
                                P.Id_Partido AS id_partido,
                                P.Nombre AS nombre_partido,
                                C.Id_Eleccion AS id_eleccion
                            FROM UrnaElectronica.Candidatos C
                            JOIN UrnaElectronica.Partidos P ON P.Id_Partido = C.Id_Partido
                            WHERE C.Id_Eleccion = E.Id_Eleccion
                            FOR JSON PATH
                        ),'[]') AS partidos
                    FROM UrnaElectronica.Elecciones E
                    JOIN UrnaElectronica.Urnas_Elecciones UE ON E.Id_Eleccion = UE.Id_Eleccion AND UE.Id_Urna = @Id_Urna
                    WHERE E.Id_Proceso = P.Id_Proceso
                    FOR JSON PATH
                ) AS elecciones,
                ISNULL((
					SELECT 
                        Id_Impresora as id_impresora,
                        Nombre as nombre,
                        Mac as mac
                    FROM UrnaElectronica.Impresoras
                    WHERE Activo = 1
                    FOR JSON PATH
				), '[]') AS impresoras
    FROM UrnaElectronica.Procesos P
        JOIN UrnaElectronica.Portada_Proceso PP ON P.Id_Proceso = PP.Id_Proceso
        JOIN UrnaElectronica.Elecciones E ON E.Id_Proceso = P.Id_Proceso
        JOIN UrnaElectronica.Urnas_Elecciones UE ON UE.Id_Eleccion = E.Id_Eleccion
        JOIN UrnaElectronica.Urnas U ON UE.Id_Urna = U.id_Urna
    WHERE UE.Id_Urna = @Id_Urna AND P.Id_Proceso = @Id_Proceso
    FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
		)

    SELECT @result
END;
GO
/****** Object:  StoredProcedure [APP_URNA_ELECTRONICA].[sp_Ins_Proceso]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [APP_URNA_ELECTRONICA].[sp_Ins_Proceso]
    @nombre_proceso NVARCHAR (100),
    @titulo_portada NVARCHAR (100),
    @subtitulo_portada NVARCHAR(100),
    @imagen_portada NVARCHAR(255) = 'img_default_portada.png'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Exito INT = 1;
    DECLARE @Mensaje NVARCHAR(255) = 'Datos guardados correctamente';
    BEGIN TRY
        BEGIN TRANSACTION;
            INSERT INTO UrnaElectronica.Procesos(Nombre) VALUES (@nombre_proceso);
            IF SCOPE_IDENTITY() > 0 BEGIN
                DECLARE @id_proceso INT;
                SELECT @id_proceso = SCOPE_IDENTITY();
                INSERT INTO UrnaElectronica.Portada_Proceso(Titulo, Subtitulo, Imagen,Id_Proceso)
                VALUES(@titulo_portada,@subtitulo_portada,@imagen_portada,SCOPE_IDENTITY());

                SELECT 1 AS Exito, 'Datos guardados correctamente' as Mensaje, @id_proceso AS Id_Proceso, SCOPE_IDENTITY() AS Id_Portada;
            END
            ELSE BEGIN
                SELECT 0 AS Exito, 'No fue posible guardar los datos' as Mensaje;
            END
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        
        SET @Exito = 0;
        SET @Mensaje = ERROR_MESSAGE();  -- Capturar el mensaje de error
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [APP_URNA_ELECTRONICA].[sp_Ins_Votacion]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [APP_URNA_ELECTRONICA].[sp_Ins_Votacion]
    @id_proceso INT,
    @id_urna INT,
    @id_estatus_urna INT,
    @fecha_hora_inicio DATETIME,
    @fecha_hora_fin DATETIME,
    @tablaVotacion APP_URNA_ELECTRONICA.Votacion_Urna_TypeTabla READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Exito INT = 1;
    DECLARE @Mensaje NVARCHAR(255) = 'Datos guardados correctamente';
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Crear una tabla temporal para almacenar los datos de @tablaVotacion
        CREATE TABLE #TempVotacion (
            id_eleccion INT,
            id_candidato INT,
            fecha_hora DATETIME,
            nombre_candidato VARCHAR(100) COLLATE Modern_Spanish_CI_AS,
            color_texto VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
            color_fondo VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
            registrado BIT
        );

        -- Insertar datos de @tablaVotacion en la tabla temporal
        INSERT INTO #TempVotacion
        SELECT id_eleccion, id_candidato, fecha_hora, 
               nombre_candidato COLLATE Modern_Spanish_CI_AS, 
               color_texto COLLATE Modern_Spanish_CI_AS, 
               color_fondo COLLATE Modern_Spanish_CI_AS, 
               registrado
        FROM @tablaVotacion;

        -- Cambia estatus de la urna al que se recibe de la app
        UPDATE UrnaElectronica.Urnas_Elecciones
        SET Id_Estatus_Urna = @id_estatus_urna,
        Fecha_Hora_Inicio = @fecha_hora_inicio,
        Fecha_Hora_Fin = @fecha_hora_fin
        WHERE Id_Urna = @id_urna  
        AND Id_Eleccion IN (
            SELECT UE2.Id_Eleccion 
            FROM UrnaElectronica.Urnas_Elecciones UE2 
            JOIN UrnaElectronica.Elecciones E2 ON UE2.Id_Eleccion = E2.Id_Eleccion 
            WHERE UE2.Id_Urna = @id_urna AND E2.Id_Proceso = @id_proceso
        );

        -- Eliminar todos los registros previos de esa urna en ese proceso, de las elecciones existentes en ese proceso y que tengan el estatus indicado
        DELETE UCU
        FROM UrnaElectronica.Votaciones_Candidatos_Urnas UCU
        JOIN UrnaElectronica.Urnas_Elecciones UE ON UCU.Id_Urna_Eleccion = UE.Id_Urna_Eleccion
        WHERE UE.Id_Urna = @id_urna 
        AND UE.Id_Estatus_Urna = @id_estatus_urna
        AND UE.Id_Eleccion IN (
            SELECT UE2.Id_Eleccion 
            FROM UrnaElectronica.Urnas_Elecciones UE2 
            JOIN UrnaElectronica.Elecciones E2 ON UE2.Id_Eleccion = E2.Id_Eleccion 
            WHERE UE2.Id_Urna = @id_urna AND E2.Id_Proceso = @id_proceso
        );

        -- Insertar los candidatos no registrados ingresados desde la urna
        INSERT INTO UrnaElectronica.Candidatos(Nombre,Color_Texto,Color_Fondo,Logo,Registrado,Id_Eleccion)
        SELECT nombre_candidato, color_texto, color_fondo, 'default.png' , registrado, id_eleccion 
        FROM #TempVotacion 
        WHERE registrado = 0
        AND NOT EXISTS (
            SELECT 1 
            FROM UrnaElectronica.Candidatos C
            WHERE C.Nombre COLLATE Modern_Spanish_CI_AS = #TempVotacion.nombre_candidato
            AND C.Id_Eleccion = #TempVotacion.id_eleccion
        );

        UPDATE V
        SET V.id_candidato = C.id_candidato
        FROM #TempVotacion V
        JOIN UrnaElectronica.Candidatos C ON V.nombre_candidato COLLATE Modern_Spanish_CI_AS = C.Nombre COLLATE Modern_Spanish_CI_AS
        AND V.id_eleccion = C.Id_Eleccion;

        -- Insertar nuevos registros de esa urna de todas las elecciones
        INSERT INTO UrnaElectronica.Votaciones_Candidatos_Urnas (Fecha_Hora, Id_Candidato, Id_Urna_Eleccion)
        SELECT tb.fecha_hora, tb.id_candidato, UE.Id_Urna_Eleccion
        FROM #TempVotacion tb
        LEFT JOIN UrnaElectronica.Urnas_Elecciones UE ON UE.Id_Eleccion = tb.id_eleccion
        JOIN UrnaElectronica.Elecciones E ON UE.Id_Eleccion = E.Id_Eleccion
        WHERE Id_Urna = @id_urna 
        AND UE.Id_Estatus_Urna = @id_estatus_urna;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        
        SET @Exito = 0;
        SET @Mensaje = ERROR_MESSAGE();  -- Capturar el mensaje de error
    END CATCH;

    -- Retornar resultado
    SELECT @Exito AS Exito, @Mensaje AS Mensaje;
END;
GO
/****** Object:  StoredProcedure [UrnaElectronica].[generarAccesosUrna]    Script Date: 2/22/2026 2:31:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [UrnaElectronica].[generarAccesosUrna]
    @NumeroDeCodigos INT,
    @Id_Urna INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Exito INT = 1;
    DECLARE @Mensaje NVARCHAR(255) = 'Códigos generados correctamente';
    BEGIN TRY
        BEGIN TRANSACTION;
        -- Variable temporal para almacenar el nuevo código generado
        DECLARE @Codigo VARCHAR(50);

        -- Tabla temporal para almacenar los nuevos códigos
        CREATE TABLE #NuevosCodigos (
            Id_Acceso INT IDENTITY(1,1),
            Codigo VARCHAR(50),
            Id_Urna INT
        );

        -- Bucle para generar e insertar los códigos
        WHILE @NumeroDeCodigos > 0
        BEGIN
            -- Generar un nuevo código único (ajusta esta lógica según tus necesidades)
            SET @Codigo = CONVERT(VARCHAR(50), NEWID());

            -- Insertar el código en la tabla temporal si no existe en la tabla original
            IF NOT EXISTS (SELECT 1 FROM UrnaElectronica.Accesos WHERE Codigo = @Codigo)
            BEGIN
                INSERT INTO #NuevosCodigos (Codigo, Id_Urna)
                VALUES (@Codigo, @Id_Urna);

                SET @NumeroDeCodigos = @NumeroDeCodigos - 1;
            END
        END

        -- Insertar los códigos únicos en la tabla original
        INSERT INTO UrnaElectronica.Accesos (Codigo, Id_Urna)
        SELECT Codigo, Id_Urna
        FROM #NuevosCodigos;

        -- Limpiar la tabla temporal
        DROP TABLE #NuevosCodigos;
            
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        
        SET @Exito = 0;
        SET @Mensaje = ERROR_MESSAGE();  -- Capturar el mensaje de error
    END CATCH;

    -- Retornar resultado
    SELECT @Exito AS Exito, @Mensaje AS Mensaje;
END;
GO
USE [master]
GO
